<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Nová účetní jednotka
        </div>
        <div class="modal-content" [formGroup]="financialUnitFG">
            <mat-form-field>
                <mat-label>Název účetní jednotky</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <div style="padding-bottom: 1rem;">
                <mat-checkbox formControlName="createDefaultData">Vytvořit s výchozími daty</mat-checkbox>
            </div>
            <mat-form-field *ngIf="createDefaultData$ | async">
                <mat-label>Oceňovací metoda</mat-label>
                <mat-select formControlName="stockValuationMethod">
                    <mat-option *ngFor="let option of stockValuationMethodOptions" [value]="option.type">
                        {{ option.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modal-actions">
            <button mat-button color="primary" (click)="closeModal()">Zavřít</button>
            <button mat-flat-button color="primary" (click)="createFinancialUnit()"
                [disabled]="isCreateButtonDisabled$ | async">Vytvořit</button>
        </div>
    </div>
</div>