<div class="form-container" [formGroup]="credentialsFG">
  <mat-form-field class="example-full-width">
    <mat-label>Jméno k zobrazení</mat-label>
    <input matInput type="text" formControlName="displayName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Přihlašovací jméno</mat-label>
    <input matInput type="text" name="username" formControlName="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Heslo</mat-label>
    <input matInput type="password" name="password" formControlName="password">
  </mat-form-field>
  <div class="link" [routerLink]="['/login']">
    Přihlásit se
  </div>
  <button mat-raised-button color="primary" (click)="signUp()">Vytvořit</button>
</div>