<div class="tab-container">
    <div class="filters-container">
        <mat-form-field>
            <mat-label>Hledat skupinu zásob</mat-label>
            <input matInput [formControl]="filterTextFC">
        </mat-form-field>
    </div>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewInventoryItemsGroupModal()">
                Nová skupina
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllTransactions()">
                Smazat všechny skupiny
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-inventory-items-group-modal *ngIf="isNewInventoryItemsGroupModalOpened"
    (close)="closeNewInventoryItemsGroupModal()"></app-new-inventory-items-group-modal>