[color-theme="light"] {
    --navbar-background-color: rgb(40, 40, 40);
}

[color-theme="dark"] {
    --navbar-background-color: rgb(230, 230, 230);
}

.navigation-bar {
    height: 3rem;
    width: 100vw;
    background-color: var(--navbar-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 2rem;
    box-sizing: border-box;
}

.navigation-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-link {
    padding: 0 1rem;
    cursor: pointer;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.user-container > mat-icon {
    margin-right: 0.75rem;
}

.financial-unit-container {
    color: var(--font-color-light);
    margin-left: 0.5rem;
    cursor: default;
}

.financial-unit-container > * {
    margin: 0 0.75rem;
}

.financial-unit-container > *:last-child {
    margin-right: 0rem;
}