<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            {{ headingText }}
        </div>
        <div class="modal-content" [formGroup]="inventoryGroupFG">
            <mat-form-field>
                <mat-label>Název skupiny</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Oceňovací metoda</mat-label>
                <mat-select formControlName="defaultStockDecrementType">
                    <mat-option *ngFor="let option of stockDecrementTypeOptions" [value]="option.type">
                        {{ option.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modal-actions">
            <button mat-button color="primary" (click)="closeModal()">Zavřít</button>
            <button mat-flat-button color="primary" (click)="createInventoryItemsGroup()"
                [disabled]="isCreateButtonDisabled$ | async">{{ buttonText }}</button>
        </div>
    </div>
</div>