<div class="financial-unit-details-view">
    <div class="side-navigation-panel">
        <div class="side-navigation-item" [class.active-side-navigation-item]="item.tab == activeTab" *ngFor="let item of sideNavigationBarItems" (click)="setActiveTab(item.tab)">{{ item.description }}</div>
    </div>
    <div [ngSwitch]="activeTab" class="tab-container">
        <app-financial-periods-tab *ngSwitchCase="'financial-periods'"></app-financial-periods-tab>
        <app-inventory-transactions-tab *ngSwitchCase="'inventory-transactions'"></app-inventory-transactions-tab>
        <app-financial-transactions-tab *ngSwitchCase="'financial-transactions'"></app-financial-transactions-tab>
    </div>
</div>

<!-- <div class="view-container">
    <mat-tab-group>

        <mat-tab label="Účetní období">
            <ng-template matTabContent>
                <app-financial-periods-tab></app-financial-periods-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Finanční účty">
            <ng-template matTabContent>
                <app-financial-accounts-tab></app-financial-accounts-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Skupiny zásob">
            <ng-template matTabContent>
                <app-inventory-items-groups-tab></app-inventory-items-groups-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Položky zásob">
            <ng-template matTabContent>
                <app-inventory-items-tab></app-inventory-items-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Stav zásob">
            <ng-template matTabContent>
                <app-stocks-tab></app-stocks-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Transakce">
            <ng-template matTabContent>
                <app-inventory-transactions-tab></app-inventory-transactions-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Účetní zápisy">
            <ng-template matTabContent>
                <app-financial-transactions-tab></app-financial-transactions-tab>
            </ng-template>
        </mat-tab>
        <mat-tab label="Obratová předvaha">
            <ng-template matTabContent>
                <app-trial-balance-tab></app-trial-balance-tab>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div> -->