<div class="financial-unit-details-view">
    <div class="side-navigation-panel">
        <div class="side-navigation-item" [class.active-side-navigation-item]="item.tab == activeTab"
            *ngFor="let item of sideNavigationBarItems" (click)="setActiveTab(item.tab)"
        >
            <mat-icon>{{ item.iconName }}</mat-icon>
            <div>{{ item.description }}</div>
        </div>
    </div>
    <div [ngSwitch]="activeTab" class="tab-content">
        <app-financial-periods-tab *ngSwitchCase="'financial-periods'"></app-financial-periods-tab>
        <app-financial-accounts-tab *ngSwitchCase="'financial-accounts'"></app-financial-accounts-tab>
        <app-inventory-items-groups-tab *ngSwitchCase="'inventory-groups'"></app-inventory-items-groups-tab>
        <app-inventory-items-tab *ngSwitchCase="'inventory-items'"></app-inventory-items-tab>
        <app-stocks-tab *ngSwitchCase="'stocks'"></app-stocks-tab>
        <app-inventory-transaction-template *ngSwitchCase="'transaction-templates'"></app-inventory-transaction-template>
        <app-inventory-transactions-tab *ngSwitchCase="'inventory-transactions'"></app-inventory-transactions-tab>
        <app-financial-transactions-tab *ngSwitchCase="'financial-transactions'"></app-financial-transactions-tab>
        <app-trial-balance-tab *ngSwitchCase="'trial-balance'"></app-trial-balance-tab>
        <app-users-tab *ngSwitchCase="'users'"></app-users-tab>
    </div>
</div>