<div class="view-container">
    <mat-tab-group>
        <mat-tab label="Obecné">

        </mat-tab>
        <mat-tab label="Účetní období">
            <app-financial-periods-tab></app-financial-periods-tab>
        </mat-tab>
        <mat-tab label="Finanční účty">
            <app-financial-accounts-tab></app-financial-accounts-tab>
        </mat-tab>
        <mat-tab label="Skladové skupiny">
            <app-inventory-items-groups-tab></app-inventory-items-groups-tab>
        </mat-tab>
        <mat-tab label="Skladové položky">
            <app-inventory-items-tab></app-inventory-items-tab>
        </mat-tab>
        <mat-tab label="Skladové transakce">

        </mat-tab>
        <mat-tab label="Účetní zápisy">

        </mat-tab>
        <mat-tab label="Obratová předvaha">

        </mat-tab>
    </mat-tab-group>
</div>