<div class="tab-container">
    <div class="filters-container">
        <mat-form-field>
            <mat-label>Hledat finanční účet</mat-label>
            <input matInput [formControl]="filterTextFC">
        </mat-form-field>
    </div>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewFinancialAccountModal()">
                Nový účet
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllAccounts()">
                Smazat všechny účty
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-financial-account-modal *ngIf="isNewFinancialAccountModalOpened" (close)="closeNewFinancialAccountModal()"></app-new-financial-account-modal>