<div class="tab-container">
    <div class="filters-container" [formGroup]="filteringCriteriaFG">
        <mat-icon color="primary" (click)="deleteAllTransactions()" matTooltip="Smazat všechny transakce">delete</mat-icon>
        <mat-form-field>
            <mat-label>Položka zásob</mat-label>
            <mat-select formControlName="inventoryItemId">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of (inventoryItems$ | async)" [value]="item._id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Typ transakce</mat-label>
            <mat-select formControlName="transactionType">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let option of transactionTypeOptions" [value]="option.type">
                    {{ option.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="dateFrom" placeholder="Ode dne" formControlName="dateFrom" readonly>
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="dateTo" placeholder="Do dne" formControlName="dateTo" readonly>
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="card">
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-inventory-transaction-modal *ngIf="isNewInventoryTransactionModalOpened"
(close)="closeNewInventoryTransactionModal()"></app-new-inventory-transaction-modal>