.pagination-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  
  .page-index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .page-size-container > span {
    margin-right: 0.5rem;
    font-size: 0.85rem;
    opacity: 0.8;
  }
  
  mat-form-field.page-size {
    width: 4rem;
    font-size: 0.85rem;
  }
  
  .page-index-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
  }
  
  .page-selection-container {
    padding: 0.5rem;
    font-size: 0.85rem;
    opacity: 0.8;
  }
  
  .change-page-index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: content-box;
  }
  
  .change-page-index-container:last-child {
    padding-right: 0;
  }
  
  mat-icon.change-page-index {
    cursor: pointer;
    margin-left: 1rem;
    color: var(--primary-color);
  }
  
    mat-icon.change-page-index:first-child {
      margin-left: 0;
    }
  
  mat-icon.change-page-index-disabled {
    cursor: default;
    opacity: 0.4;
    color: var(--font-color);
  }
  
  .center-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-items-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .list-items-container > * {
    margin-top: 0.75rem;
  }
  
  .list-items-container > *:first-child {
    margin-top: 0;
  }
  
  .no-record-was-found {
    color: var(--font-color-light);
  }