<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            {{ headingText }}
        </div>
        <div class="modal-content" [formGroup]="inventoryItemFG">
            <mat-form-field>
                <mat-label>Název položky</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Skupina</mat-label>
                <mat-select formControlName="inventoryGroupId">
                  <mat-option *ngFor="let option of (inventoryItemsGroupOptions$ | async)" [value]="option.id">
                    {{ option.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="modal-actions">
            <button mat-button color="primary" (click)="closeModal()">Zavřít</button>
            <button mat-flat-button color="primary" (click)="createInventoryItem()" [disabled]="isCreateButtonDisabled$ | async">{{ buttonText }}</button>
        </div>
    </div>   
</div>
