<div class="tab-container">
    <app-heading headingText="Uživatelé" iconName="people"></app-heading>
    <div class="card">
        <div *ngIf="isUserOwner$ | async" class="flex-container">
            <button mat-flat-button color="primary" (click)="openAddUserModal()">
                Přidat uživatele
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-add-user-modal *ngIf="isAddUserModalOpened" (close)="closeAddUserModal()"></app-add-user-modal>