<div class="tile" [class.main-action]="data.hasMainAction" [ngStyle]="getTileStyles(data)" (click)="data.mainAction && data.mainAction()">
    <div *ngIf="data.topLeftActionItems$" class="basic-tile-action-icons-container top-left">
        <ng-container *ngFor="let item of data.topLeftActionItems$ | async">
            <ng-container *ngIf="item.action; else noAction">
                <mat-icon color="primary" [matTooltip]="item.description" (click)="doAction($event, item.action)">{{ item.iconName }}</mat-icon>
            </ng-container>
            <ng-template #noAction>
                <mat-icon color="primary" [matTooltip]="item.description">{{ item.iconName }}</mat-icon>
            </ng-template>
        </ng-container>
    </div>
    <div *ngIf="data.topRightActionItems$" class="basic-tile-action-icons-container top-right">
        <ng-container *ngFor="let item of data.topRightActionItems$ | async">
            <ng-container *ngIf="item.action; else noAction">
                <mat-icon color="primary" class="clickable-icon" [matTooltip]="item.description" (click)="doAction($event, item.action)">{{ item.iconName }}</mat-icon>
            </ng-container>
            <ng-template #noAction>
                <mat-icon color="primary" [matTooltip]="item.description">{{ item.iconName }}</mat-icon>
            </ng-template>
        </ng-container>
    </div>
    <div *ngIf="data.bottomLeftActionItems$" class="basic-tile-action-icons-container bottom-left">
        <ng-container *ngFor="let item of data.bottomLeftActionItems$ | async">
            <ng-container *ngIf="item.action; else noAction">
                <mat-icon color="primary" class="clickable-icon" [matTooltip]="item.description" (click)="doAction($event, item.action)">{{ item.iconName }}</mat-icon>
            </ng-container>
            <ng-template #noAction>
                <mat-icon color="primary" [matTooltip]="item.description">{{ item.iconName }}</mat-icon>
            </ng-template>
        </ng-container>
    </div>
    <div *ngIf="data.bottomRightActionItems$" class="basic-tile-action-icons-container bottom-right">
        <ng-container *ngFor="let item of data.bottomRightActionItems$ | async">
            <ng-container *ngIf="item.action; else noAction">
                <mat-icon color="primary" class="clickable-icon" [matTooltip]="item.description" (click)="doAction($event, item.action)">{{ item.iconName }}</mat-icon>
            </ng-container>
            <ng-template #noAction>
                <mat-icon color="primary" [matTooltip]="item.description">{{ item.iconName }}</mat-icon>
            </ng-template>
        </ng-container>
    </div>
    <div class="title-text" [ngStyle]="getTitleTextStyles(data)">{{ data.titleText }}</div>
    <div class="other-text" *ngFor="let otherText of data.otherTexts">{{ otherText }}</div>
</div>