<div class="tab-container">
    <app-heading headingText="Skupiny zásob" iconName="shopping_cart"></app-heading>
    <div class="filters-container">
        <mat-form-field>
            <mat-label>Hledat skupinu zásob</mat-label>
            <input matInput [formControl]="filterTextFC">
        </mat-form-field>
    </div>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewInventoryGroupModal()">
                Nová skupina    
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllGroups()">
                Smazat všechny skupiny
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-inventory-group-modal *ngIf="isUpdateInventoryGroupModalData as data" [data]="data"
    (close)="closeNewInventoryGroupModal()"></app-new-inventory-group-modal>