<div class="tab-container">
    <app-heading headingText="Položky zásob" iconName="shopping_basket"></app-heading>
    <div class="filters-container">
        <mat-form-field>
            <mat-label>Hledat položku zásob</mat-label>
            <input matInput [formControl]="filterTextFC">
        </mat-form-field>
    </div>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewInventoryItemModal()">
                Nová položka
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllItems()">
                Smazat všechny položky
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-inventory-item-modal *ngIf="isNewInventoryItemModalOpened" (close)="closeNewInventoryItemModal()">
</app-new-inventory-item-modal>