<div class="tab-container">
    <app-heading headingText="Položky zásob" iconName="shopping_basket"></app-heading>
    <div class="filters-container" [formGroup]="filteringCriteriaFG">
        <mat-form-field>
            <mat-label>Hledat položku zásob</mat-label>
            <input matInput formControlName="filterText">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Skupina</mat-label>
            <mat-select formControlName="inventoryGroupId">
                <mat-option [value]="0">Všechny</mat-option>
                <mat-option *ngFor="let option of (inventoryGroupOptions$ | async)" [value]="option.id">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewInventoryItemModal()">
                Nová položka
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllItems()">
                Smazat všechny položky
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-inventory-item-modal *ngIf="updateInventoryItemModalData as data" [data]="data"
    (close)="closeNewInventoryItemModal()">
</app-new-inventory-item-modal>