<div class="tab-container">
    <app-heading headingText="Stav zásob" iconName="store"></app-heading>
    <div class="filters-container">
        <mat-form-field>
            <input matInput [matDatepicker]="effectiveDate" placeholder="Stav k datu" [formControl]="effectiveDateFC"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="effectiveDate"></mat-datepicker-toggle>
            <mat-datepicker #effectiveDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="card">
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-stock-details-modal *ngIf="stockDetailsModalData as itemStock" [itemStock]="itemStock"
    (close)="closeStockDetailsModal()"></app-stock-details-modal>