@import "~@angular/material/theming";
@include mat-core();

$cyan: (
    50 : #e0fffb,
    100 : #b3fff5,
    200 : #80ffee,
    300 : #4dffe7,
    400 : #26ffe2,
    500 : #00ffdd,
    600 : #00ffd9,
    700 : #00ffd4,
    800 : #00ffcf,
    900 : #00ffc7,
    A100 : #ffffff,
    A200 : #f2fffc,
    A400 : #bfffef,
    A700 : #a6ffe9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$violet: (
    50 : #eae0f4,
    100 : #cbb3e4,
    200 : #a980d2,
    300 : #874dc0,
    400 : #6d26b3,
    500 : #5300a5,
    600 : #4c009d,
    700 : #420093,
    800 : #39008a,
    900 : #290079,
    A100 : #bda7ff,
    A200 : #9774ff,
    A400 : #7141ff,
    A700 : #5e27ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$pink: (
    50 : #f8f2ff,
    100 : #eee0ff,
    200 : #e3cbff,
    300 : #d7b6ff,
    400 : #cfa6ff,
    500 : #c696ff,
    600 : #c08eff,
    700 : #b983ff,
    800 : #b179ff,
    900 : #a468ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f6f1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-theme-color: mat-palette($violet);
$dark-theme-color: mat-palette($pink);
$warn-color: mat-palette($mat-red);
$light-theme: mat-light-theme($light-theme-color, $light-theme-color, $warn-color);
$dark-theme: mat-dark-theme($dark-theme-color, $dark-theme-color, $warn-color);

@include angular-material-theme($light-theme);
.dark-theme {
  @include angular-material-theme($dark-theme);
}
