<div class="tab-container">
    <app-heading headingText="Účetní období" iconName="date_range"></app-heading>
    <div class="card">
        <div class="flex-container">
            <button mat-flat-button color="primary" (click)="openNewFinancialPeriodModal()">
                Nové období
            </button>
            <button mat-flat-button color="primary" (click)="deleteAllPeriods()">
                Smazat všechna období
            </button>
        </div>
        <app-basic-table [data]="tableData$ | async" [isLoadingData]="isLoadingData"></app-basic-table>
    </div>
</div>

<app-new-financial-period-modal *ngIf="isNewFinancialPeriodModalOpened" (close)="closeNewFinancialPeriodModal()">
</app-new-financial-period-modal>